#hover-overlay {
    position: fixed;
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 8px 15px;
    background-color: black;
    color: white;
}

span#detected-clue {
    background: yellow;
    cursor: pointer;
}